body{
    background-color: rgb(250, 250, 181);
}
header > img{
    width: 200px;
    margin: auto;
    display: block;
}
header > h1{
    text-align: center;
    font-size: 3em;
    padding: 20px;
}
h2, h3{
    background-image:linear-gradient(to left, rgb(253, 138, 138), rgb(250, 250, 181));
    color: rgb(7, 7, 7); 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
}
section > p{
   
    text-indent: 10px;
    font-size: 1.5em;
    margin: 20px;
}
article > p{
    margin: 20px;
    text-indent: 10px;
    font-size: 1.5em;
}
article > img{
    width: 800px;
    margin: auto;
    display: block;
}
